HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
*.log
uploads/
!uploads/.gitkeep